import React from "react";
import ReactDOM from "react-dom/client";
import App from "./App";
import "./indx.css";
import "tailwindcss";

ReactDOM.createRoot(document.getElementById("root")).render(
  <React.StrictMode>
    <App />
  </React.StrictMode>
);

:root {
  --green: #6f8f76;
  --beige: #f8f5ef;
  --accent: #d79a78;
  --dark: #2d3748;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: var(--beige);
  color: var(--dark);
}
.hero-blur {
  position: absolute;
  border-radius: 50%;
  filter: blur(120px);
  z-index: -1;
}

.hero-blur-1 {
  width: 400px;
  height: 400px;

  background: #6f8f76;

  top: 100px;
  right: 100px;

  opacity: 0.2;
}

.hero-blur-2 {
  width: 350px;
  height: 350px;

  background: #d79a78;

  bottom: 50px;
  left: 50px;

  opacity: 0.15;
}
